<app-header></app-header>
<h1 style="text-align: center;">CHECK OUT</h1>
<div class="container">
    <div class="card">
        <div id="carouselWithIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
                <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{area.image1}}" class="d-block w-100" style="height:300px ;" alt="Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="{{area.image2}}" class="d-block w-100" style="height:300px ;" alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="{{area.image3}}" class="d-block w-100" style="height:300px ;" alt="Slide 3">
                </div>
                <div class="carousel-item">
                    <img src="{{area.image4}}" class="d-block w-100" style="height:300px ;" alt="Slide 1">
                </div>
            </div>
        </div>
        <div class="card-body">
            <h2>{{area.name}}</h2>
            <h4>Rupees {{area.price}}/- per Night</h4>
            Days :<input type="text" #days (keyup.enter)="total(days.value)">
            <h5>Total Amount= {{totalprice}} / -</h5>
            <h5>Location : {{area.location}}</h5>
            <h5>ViewPoint : {{area.viewpoint}}</h5>
            <h5>Type : {{area.type}}</h5>
            <p class="card-text">{{area.description}}
            </p>
            <p class="card-text"><small class="text-muted">Rating {{area.rating}}</small></p>
            <br>
            <button class="btn btn-primary" *ngIf="area.reserved == 'false'" (click)="checkout(area)">CheckOut</button>
        </div>
        <h1 *ngIf="area.reserved == 'true' " style="text-align: center; color: red ;background-color: yellowgreen;">Sorry This is Place Is Reserved</h1>
    </div>
</div>