.html {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

.box {
    width: 600px;
    margin: auto;
    padding-top: 20px;
}

.each {
    border: 5px black solid;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

.button {
    margin-left: 80%;
    border-radius: 10px;
}

.username {
    border-radius: 50px;
}

.name {
    text-decoration: none;
    border: 1px solid grey;
    color: blue;
}

@media(max-width:767px) {
    .box {
        width: 50%;
        /* margin-bottom: 30px; */
    }
}

@media(max-width:574px) {
    .box {
        width: 50%;
    }
}